<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./Pagina_Agenda_Citas.css">
    <title>Pagina Inicio de Sesión</title>
</head>

<body>
    <div class="contenedor-formas register">
        <div id="informacion">
            <!--Seccion bienvenida-->
            <div id="logo">
                <h2>Uñas Spa Yaneth Jimenez</h2>
                <p>"Tu momento de belleza comienza aquí.Agendar tu cita para tener el pacer de consentirte."</p>
                <img  src="./Fondo/WhatsApp Image 2024-01-19 at 7.41.21 AM.jpeg" alt="manicure">
            </div>
            <!--Seccion de agradecimiento-->
            <div id="gracias">
                <h2> Gracias por agendar con nosotros</h2><br>
                <img src="./Fondo/images.jpeg" alt="pedicure">
            </div>
            <!--<div id="calendar">
  
            </div>-->
            <div id="Calendario" class="calendar"> 
            
                <!--Seccion horarios diponibles-->
            </div>
            <div id="bloques">
            
            </div>
        </div>
        <!--Seccion iconos de redes sociales-->
        <div class="formas-informacion">
            <div class="formas-informacion-childs">
                <h2 id="encabezadoAgenda">Agenda Tu Cita</h2>
                <div id="redes" class="iconos">
                    <i class='bx bxl-whatsapp'></i>
                    <i class='bx bxl-tiktok'></i>
                    <i class='bx bxl-instagram'></i>
                    <p>Síguenos en nuestras redes</p>
                </div>
                <!--Seccion de formulario de registro-->
                <form id="formulario" action="/cita" method="post">
                    <!-- Seccion manicuristas-->
                    <label for="manicurista">Manicurista</label>
                    <select id="manicurista" name="manicurista" required>
                        <option value=""></option>
                        <option value="Aura lopez">Aura lopez</option>
                        <option value="Leidy Camargo">Leidy Camargo</option>
                        <option value="Adrina Perez">Adrina Perez</option>
                        <option value="Adrina Perez">Camila Martinez</option>
                    </select><br>
                    <!-- Seccion tipos de servicios-->
                    <label for="servicio">Tipo de Servicio</label>
                    <select id="servicio" name="servicio" required>
                        <option value=""></option>
                        <option value="manicureBásico" class="servicios">Manicure básico</option>
                        <option value="pedicureBásico" class="servicios">Pedicure básico</option>
                        <option value="esmaltadoPermanente" class="servicios">Esmaltado permanente</option>
                        <option value="manicureFrancés" class="servicios">Manicure francés</option>
                        <option value="pedicureFrancés" class="servicios">Pedicure francés</option>
                        <option value="uñasAcrílicas" class="servicios">Uñas acrílicas</option>
                        <option value="uñasDeGel" class="servicios">Uñas de gel</option>
                        <option value="decoraciónDeUñas" class="servicios">Decoración de uñas</option>
                        <option value="manicureSpa" class="servicios">Manicure spa</option>
                        <option value="pedicureSpa" class="servicios">Pedicure spa</option>
                    </select><br>
                </form>
                <div id="mensajesconfirmar">
                    <p id="mensaje1"></p>
                    <p id="mensaje2"></p>
                    <p id="confirmar"></p>
                </div>
                <button id="AgendarCita" class="botones" type="submit" onclick="confirmardatos()">Agendar Cita</button>
                <button id="retornar" class="botones"  type="submit" onclick="retornar()">Mas Servicios</button>
            </div>
        </div>
        <script src="Pagina_Agenda_Cita.js"></script>
</body>

</html>