<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./Pagina_Agenda_Citas.css">
    <title>Pagina Inicio de Sesión</title>
</head>

<body>
    <div class="contenedor-formas register">
        <div id="informacion">
            <!--Seccion bienvenida-->
            <div id="logo">
                <h2>Uñas Spa Yaneth Jimenez</h2>
                <p>"Tu momento de belleza comienza aquí.Agendar tu cita para tener el pacer de consentirte."</p>
                <img src="./Fondo/WhatsApp Image 2024-01-19 at 7.41.21 AM.jpeg" alt="manicure">
            </div>
            <!--Seccion de agradecimiento-->
            <div id="gracias">
                <h2> Gracias por agendar con nosotros</h2><br>
                <img src="./Fondo/images.jpeg" alt="pedicure">
            </div>
            <div id="Calendario" class="horas"> 
                <ol>
                    <h1>calendario</h1>
                    <div id="meses">
                        <h3>Abril</h3>
                        <h3>2024</h3>
                    </div>
                    <!-- Seccion semana-->
                    <div id="semana">
                        <li class="nombreDia">Do</li>
                        <li class="nombreDia">Lu</li>
                        <li class="nombreDia">Ma</li>
                        <li class="nombreDia">Mi</li>
                        <li class="nombreDia">Ju</li>
                        <li class="nombreDia">Vi</li>
                        <li class="nombreDia">Sa</li>
                    </div>
                    <!--Seccion dias -->
                    <div id="dias">
                        <button id="Dia1" class="Dia" onclick="selecdia('1')" disabled="">1</button>
                        <button id="Dia2" class="Dia" onclick="selecdia('2')" disabled="">2</button>
                        <button id="Dia3" class="Dia" onclick="selecdia('3')" disabled="">3</button>
                        <button id="Dia4" class="Dia" onclick="selecdia('4')" disabled="">4</button>
                        <button id="Dia5" class="Dia" onclick="selecdia('5')">5</button>
                        <button id="Dia6" class="Dia" onclick="selecdia('6')">6</button>
                        <button id="Dia7" class="Dia" onclick="selecdia('7')" disabled="">7</button>
                        <button id="Dia8" class="Dia" onclick="selecdia('8')">8</button>
                        <button id="Dia9" class="Dia" onclick="selecdia('9')">9</button>
                        <button id="Dia10" class="Dia" onclick="selecdia('10')">10</button>
                        <button id="Dia11" class="Dia" onclick="selecdia('11')">11</button>
                        <button id="Dia12" class="Dia" onclick="selecdia('12')">12</button>
                        <button id="Dia13" class="Dia" onclick="selecdia('13')">13</button>
                        <button id="Dia14" class="Dia" onclick="selecdia('14')" disabled="">14</button>
                        <button id="Dia15" class="Dia" onclick="selecdia('15')">15</button>
                        <button id="Dia16" class="Dia" onclick="selecdia('16')">16</button>
                        <button id="Dia17" class="Dia" onclick="selecdia('17')">17</button>
                        <button id="Dia18" class="Dia" onclick="selecdia('18')">18</button>
                        <button id="Dia19" class="Dia" onclick="selecdia('19')">19</button>
                        <button id="Dia20" class="Dia" onclick="selecdia('20')">20</button>
                        <button id="Dia21" class="Dia" onclick="selecdia('21')" disabled="">21</button>
                        <button id="Dia22" class="Dia" onclick="selecdia('22')">22</button>
                        <button id="Dia23" class="Dia" onclick="selecdia('23')">23</button>
                        <button id="Dia24" class="Dia" onclick="selecdia('24')">24</button>
                        <button id="Dia25" class="Dia" onclick="selecdia('25')">25</button>
                        <button id="Dia26" class="Dia" onclick="selecdia('26')">26</button>
                        <button id="Dia27" class="Dia" onclick="selecdia('27')">27</button>
                        <button id="Dia28" class="Dia" onclick="selecdia('28')" disabled="">28</button>
                        <button id="Dia29" class="Dia" onclick="selecdia('29')">29</button>
                        <button id="Dia30" class="Dia" onclick="selecdia('30')">30</button>
                        <button id="Dia31" class="Dia" onclick="selecdia('31')">31</button>
                    </div>
                </ol>
                
                <!--Seccion horarios diponibles-->
                <div id="calenhoras">
                    <div id="bloques">

                    </div>
                    <div id="bloques2">
                        
                    </div>
                </div>
            </div>
        </div>
        <!--Seccion iconos de redes sociales-->
        <div class="formas-informacion">
            <div class="formas-informacion-childs">
                <h2 id="encabezadoAgenda">Agenda Tu Cita</h2>
                <div id="redes" class="iconos">
                    <i class='bx bxl-whatsapp'></i>
                    <i class='bx bxl-tiktok'></i>
                    <i class='bx bxl-instagram'></i>
                    <p>Síguenos en nuestras redes</p>
                </div>
                <!--Seccion de formulario de registro-->
                <form id="formulario" action="/cita" method="post">
                    <!-- Seccion manicuristas-->
                    <label for="manicurista">Manicurista</label>
                    <select id="manicurista" name="manicurista" required>
                        <option value=""></option>
                        <option value="Aura lopez">Aura lopez</option>
                        <option value="Leidy Camargo">Leidy Camargo</option>
                        <option value="Adrina Perez">Adrina Perez</option>
                        <option value="Adrina Perez">Camila Martinez</option>
                    </select><br>
                    <!-- Seccion tipos de servicios-->
                    <label for="servicio">Tipo de Servicio</label>
                    <select id="servicio" name="servicio" required>
                        <option value=""></option>
                        <option value="manicure Básico" class="servicios">Manicure básico</option>
                        <option value="pedicure Básico" class="servicios">Pedicure básico</option>
                        <option value="esmaltado Permanente" class="servicios">Esmaltado permanente</option>
                        <option value="manicure Francés" class="servicios">Manicure francés</option>
                        <option value="pedicure Francés" class="servicios">Pedicure francés</option>
                        <option value="uñas Acrílicas" class="servicios">Uñas acrílicas</option>
                        <option value="uñas De Gel" class="servicios">Uñas de gel</option>
                        <option value="decoración De Uñas" class="servicios">Decoración de uñas</option>
                        <option value="manicure Spa" class="servicios">Manicure spa</option>
                        <option value="pedicure Spa" class="servicios">Pedicure spa</option>
                    </select><br>
                </form>
                <div id="mensajesconfirmar">
                    <p id="mensaje1"></p>
                    <p id="mensaje2"></p>
                    <p id="confirmar"></p>
                </div>
                <button id="AgendarCita" class="botones" type="submit" onclick="confirmardatos()">Agendar Cita</button>
                <button id="retornar" class="botones"  type="submit" onclick="retornar()">Mas Servicios</button>
            </div>
        </div>
        <script src="Pagina_Agenda_Cita.js"></script>
</body>

</html>