*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-image: url(./Fondo/images\ \(1\).jpeg);
    background-size:contain;
}
#servi{
    display:flex;
    justify-content: center;
}

.contenedor-formas{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
}
#informacion{
    width: 100%;
    margin: 40px 0 25px 15px;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: #cf7a64;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
#informacion-childs{
    width: 100%;
    padding: 40px;
    margin: 0 0 20px 0;
    color: #e1d7d7;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
.informacion-childs {
    color: #333;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

h2,#menRedes,#inicio{
    margin: 0 0 20px o;
    color: #333;
    display: flex;
    display: grid;
    justify-content: center;
}
input,label{
    border-radius: 20px;
}
p, #mensajesconfirmar{
    margin:  30px 0px 30px 0px;
    font-size: 1rem;
    color: #333;
}
#informacion-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #e7b2a4   ;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .3s ease;
}
#informacion-childs input:hover{
    background-color: #e7b2a4;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    color: #fff;
}
.formas-informacion{
    width: 100%;
    margin: 40px 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7b2a4;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 87%;
}
.portadaInicio{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 70%; 
    margin: 15%;
    height: 110%; 
    margin: 3%;
}

#lista-citas {
    top: 0;
    left: 0;
    width: 46rem;
    height: 20rem;
    overflow-y: scroll; /* Permitir el desplazamiento vertical */
}
.iconos{
    margin: 15px 0;
    font-size: x-large;
    display: flex;
    justify-content: center;
}
.iconos i {
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #cf7a64;
    transition: backgorund-color 0.3s ease;
    border: solid thin #cf7a64;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}
.iconos i:hover{
    background-color: #cf7a64;
    color: #fff;
}
.form{
    margin: 10px 0 0 0;
    width: 100%;
}
.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    background-color: #fff;
}
.form label input{
    width: 100%;
    padding: 8px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
    font-size: 0.70rem;
}
.form label select{
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}
.form label i{
    color: #cf7a64;
}
.form button[type="submit"]{
    background-color: #cf7a64;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    justify-content: center;
    align-items: center;
}
#resistrarse{
    background-color: #cf7a64;
    color: #fff;
    border-radius: 20px;
    border: none;
    display:block;
    margin:0 auto;
    padding: 10px 15px; 
    text-align: center;
}
#resistrarse:hover{
    background-color: #FF9EAA;
    color: #000;
    cursor: pointer;
}
.form input[type="submit"]:hover{
    background-color: #FF9EAA;
    color: #000;
    cursor: pointer;
}
.hide{
    position: absolute;
    transform: translateY(-300%);
}
#logo{
    display: grid;
    width: 100%;
    padding: 50px;
}
#bienvenida{
    width: 350px;
}
img{
    width: 350px;
    height: 200px;
    border-radius: 0 25% 0 25%;
}

.Manicuristas1{
    display: flex;
    margin: 0 5px 0 5px;
    margin: 0 5px 0 10px;
}
.ser1{
    display: flex;
    margin:15px 0 15px 0 ;

}
.Manicu{
    margin: 0 5px 0 5px;
}
.imgMani{
    width: 70px;
    height: 70px;
    border-radius: 0 25% 0 25%;
}

#formulario{
    display: grid;
    justify-content: space-between;
    margin-right:30px;
    margin-left: 30px;  
}
ol{
    margin: 30px;
}
#dias,#semana{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,2fr);
    margin-top: 0%;
}
.botonH {
    margin: 5px;
    padding: 8px;
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
}
.botonH-success {
    background-color: #cf7a64;
    color: #fff;
}
.hidden
{ 
    display: none; 
}
.form-container { 
    max-width: 400px;
    margin: auto;
}
.form-group { 
    margin-bottom: 15px;
}
label { 
    display: block; 
    margin-bottom: 5px; 
}
input, select { 
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box;
}
button {
    padding: 10px 20px; 
    background-color: #cf7a64; 
    color: #FFF; 
    border: none; 
    cursor: pointer;
    }
button:hover { 
    background-color: #cf7a64; 
}
#deleteButton:hover{
    background-color: #cf7a64; 
}
#deleteButton  {
    padding: 10px 20px; 
    background-color: #cf7a64;
    color:#FFF; 
    border: none; 
    cursor: pointer; 
}
.calendario {
    width: 90%;
    text-align: center;
    margin: 10px 25px 0px 25px;
    cursor: pointer;
}
.pasarmeses{
    display: flex;
    justify-content: space-around;
}
.month-year {
    font-size: 20px;
    margin-bottom: 10px;
}
.month-table {
    width: 100%;
    border-collapse: collapse;
}
.month-table th, .month-table td {
    padding: 10px;
    border: 1px solid #ddd;
    border: none;
}
.month-table th {
    background-color: #f2f2f2;
}
.month-table td:hover{
    background-color: #e7b2a4;
    color:#fff;
    border-radius: 20px;
}
.table-container {
    width: 50%;
    margin: 20px auto;
    overflow-x: auto;
    border: 1px solid #ddd;
        
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}
table th, 
table td {
    padding: 5px 7px;
    border: 1px solid #ddd;
    text-align: left;
}
table th {
    background-color:#e7b2a4;
}
table tr:nth-child(even) {
    background-color: #cf7a64;
}
button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}
button.eliminar, button.reagendar {
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    width: 120px; 
}
    
button.eliminar {
    background-color: #bd3f1f;
    color: white;
    margin: 4px;
}
    
button.reagendar {
    background-color: #e36e51;
    color: white;
    margin: 4px;
}
    
button.eliminar:hover,
button.reagendar:hover {
    opacity: 0.8; 
}
#formulario-reagendar {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    display: none;
}
.past-day {
    color: #ccc;
    cursor: not-allowed;
}
.selected-day {
    background-color: #ffffcc; 
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.button-container button {
    padding: 5px 10px;
    font-size: 14px;
}
.botonH {
    margin: 5px;
    padding: 8px;
    background-color: #cf7a64; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1); 
    transition: background-color .3s ease; 
}
.botonH:hover {
    background-color: #fff; 
    color: #000; 
}
#modificarcitas{
    padding: 10px 35px;
}
.botones{
    margin: 0 20% 0 25%;
    background-color: #cf7a64;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    align-items: center;
}
#gracias{
    width: 70%; 
    border-radius: 0 30px 0 30px;
    margin: 0px 30px 0px 45px;
}

