*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(./Fondo/WhatsApp\ Image\ 2024-01-19\ at\ 7.41.21\ AM.jpeg);
    background-size:contain;
}

.contenedor-formas{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
}

.informacion{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #cf7a64;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.informacion-childs{
    width: 100%;
    padding: 30px;
}

.informacion-childs h2{
    font-size: 1.5rem;
    color: #333;
}

.informacion-childs p{
    margin: 15px 0;
    font-size: 1rem;
    color: #ffff;
}

.informacion-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #e7b2a4   ;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.informacion-childs input:hover{
    background-color: #e7b2a4;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    color: #fff;
}

.formas-informacion{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7b2a4;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.formas-informacion-childs{
    padding: 0 30 px;
}

.formas-informacion-childs h2{
    color:#333;
    font-size: 1.5rem;
}

.formas-informacion-childs p{
    color:#ffff;
    font-size: 1rem;
}

.iconos{
    margin: 15px 0;
    font-size: x-large;
}

.iconos i {
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #cf7a64;
    transition: backgorund-color 0.3s ease;
    border: solid thin #cf7a64;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}

.iconos i:hover{
    background-color: #cf7a64;
    color: #fff;
}

.form{
    margin: 10px 0 0 0;
}
#confirma-contraseña{
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 0 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    background-color: #fff;
}
.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    background-color: #fff;
}

.form label input{
    width: 100%;
    padding: 8px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
    font-size: 0.70rem;

}

.form label select{
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}
#pirmerDia{
    grid-template-columns:repeat(7,1fr)  ;
}
.form label i{
    color: #cf7a64;
}

.form input[type="submit"]{
    background-color: #cf7a64;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    justify-content: center;
    align-items: center;
}

#mensaje{
    display:block;
    margin:0 auto;
    width: 240px;
    justify-content: center;
    margin-top: 0%;
}
#resistrarse,#iniciarSesion{
    background-color: #cf7a64;
    color: #fff;
    border-radius: 20px;
    border: none;
    display:block;
    margin:0 auto;
    padding: 10px 15px; 
    text-align: center;
}

.form input[type="submit"]:hover{
    background-color: #FF9EAA;
    color: #000;
    cursor: pointer;
}

.hide{
    position: absolute;
    transform: translateY(-300%);
}


@media screen and (max-widht:750px){
    html{
        font-size: 12px;
    }
}

@media screen and (max-widht:380px){
    html{
        font-size: 10px;
    }
    .contenedor-formas{
        flex-direction: column;
    }
}

.prueba{
    display: flex;
    background-color: #555;
}

