*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(./Fondo/WhatsApp\ Image\ 2024-01-19\ at\ 7.41.21\ AM.jpeg);
    background-size:contain;
}

.contenedor-formas{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
}

#informacion{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #cf7a64;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

#informacion-childs{
    width: 100%;
    padding: 40px;
    margin: 0 0 20px 0;
    color: #e1d7d7;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.informacion-childs {
    color: #333;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
h2{
    margin: 0 0 20px o;
    color: #333;
    display: flex;
    justify-content: center;
}
input,label{
    border-radius: 20px;
}


p, #mensajesconfirmar{
    margin:  30px 30px 30px 30px;
    font-size: 1rem;
    color: #333;
}

#informacion-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #e7b2a4   ;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .3s ease;
}

#informacion-childs input:hover{
    background-color: #e7b2a4;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    color: #fff;
}

.formas-informacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7b2a4;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
}


.iconos{
    margin: 15px 0;
    font-size: x-large;
}

.iconos i {
    border-radius: 50px;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #cf7a64;
    transition: backgorund-color 0.3s ease;
    border: solid thin #cf7a64;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}

.iconos i:hover{
    background-color: #cf7a64;
    color: #fff;
}

.form{
    margin: 10px 0 0 0;
    width: 100%;
}

.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    background-color: #fff;
}

.form label input{
    width: 100%;
    padding: 8px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
    font-size: 0.70rem;

}

.form label select{
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form label i{
    color: #cf7a64;
}

.form button[type="submit"]{
    background-color: #cf7a64;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    justify-content: center;
    align-items: center;
}
#AgendarCita,#retornar{
    margin: 0 15% 0 35%;
    background-color: #cf7a64;
        color: #fff;
        border-radius: 20px;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        margin-top: 10px;
        box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
        align-items: center;
}

#mensaje{
    display:block;
    margin:0 auto;
    width: 240px;
    justify-content: center;
    margin-top: 0%;
}
#resistrarse{
    background-color: #cf7a64;
    color: #fff;
    border-radius: 20px;
    border: none;
    display:block;
    margin:0 auto;
    padding: 10px 15px; 
    text-align: center;
}


#resistrarse:hover{
    background-color: #FF9EAA;
    color: #000;
    cursor: pointer;
}

.form input[type="submit"]:hover{
    background-color: #FF9EAA;
    color: #000;
    cursor: pointer;
}

.hide{
    position: absolute;
    transform: translateY(-300%);
}
#logo{
    display: grid;
    width: 100%;
    padding: 50px;

}
img{
    width: 350px;
    height: 250px;
    border-radius: 0 25% 0 25%;
}

#dias,#semana{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,2fr);
    margin-top: 0%;
}
ol{
    margin: 30px;
}

#formulario{
    display: grid;
    justify-content: space-between;
    margin-right:30px;
    margin-left: 30px;  
}
#meses{ 
    display:flex;
    justify-content: space-between;
    margin-right:30px;
    margin-left: 30px;   
}
#Calendario{
    width: 100%;  
    border:solid #333;
    border-radius: 0 30px 0 30px;
    margin: 0 30px 0 30px;
}
#gracias{
    width: 100%; 
    border-radius: 0 30px 0 30px;
    margin: 0 30px 0 30px;
}
.nombreDia{
    text-align: center;
}

.Dia{
    background-color: #cf7a64;
    border: none;
    border-radius: 20%;
}
.Dia:active{
    background-color: #fff;
}
.Dia:hover {
    background-color: #fff; 
}
#horarios{
    margin: 0 0 25px 0;
}
.Hora:hover{
    background-color: #fff; 
}
.Hora{
    background-color: #cf7a64;
    border: none;
    border-radius:20%;
    grid-template-columns: repeat(3,2fr);
}
.hora-ocupada{
    color: #18dc3f;
    background-color: aqua;
}

h5{
    margin-top: 15px;
}
#Dia1{
    grid-column-start: 2;
}
#Dia7,#Dia14,#Dia21,#Dia28{
    background-color: #e7b2a4;   
}

#bienvenida{
    width: 350px;
}
